:root {
    /* colors */
    --blue01: #0F516A;
    --blue01_opacity: rgba(14, 81, 106, 0.7);
    --blue04: #DBF4FF;

    --pink03: #FEE2F7;

    --greentea04: #F9FFF0;

    --white: #FAF5F5;

    --black01: #0F0A0A;
    --black02: #4A4A4A;

    /* animation */
    --duration: 300ms;
    --ease: ease-in-out;

    /* fonts */
    --text_font: 'Roboto', sans-serif;
    --header_font: 'Roboto Slab', serif;
}

body {
    background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--header_font);
    color: var(--black01);
}

p {
    font-family: var(--text_font);
    color: var(--black02);
}

/* ----------------------------- navbar ----------------------------- */

.navbar {
    background-color: var(--pink03);
}

.nav {
    position: absolute;
    z-index: 100;
    opacity: 0;
    transition-property: all;
    transition-duration: var(--duration);
    transform: translate(100%, -100%) scale(0.5);
    border-radius: 100%;
    height: 100%;
    width: 100%;
}

.nav--active .nav {
    opacity: 1;
    background-color: var(--greentea04);
    transform: translateY(0) scale(1);
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.nav .container-fluid {
    background-color: var(--white);
}

.nav_bg {
    background-image: url(../images/nav_link_bg.svg);
    border-bottom-left-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/* nav_icon */
.nav__trigger {
    position: absolute;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 6px;
    padding-bottom: 14px;
    background-color: var(--blue01);
    right: 11.5%;
    top: 22px;
    z-index: 200;
    border-radius: 12px;
}

.nav__icon {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 3px;
    background-color: var(--pink03);
    transition-property: background-color, transform;
    transition-duration: 300ms;
}

.nav__icon:before,
.nav__icon:after {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    position: absolute;
    background: var(--pink03);
    transition-property: margin, transform;
    transition-duration: 300ms;
}

.nav__icon:before {
    margin-top: -10px;
}

.nav__icon:after {
    margin-top: 10px;
}

.nav--active .nav__icon {
    background: rgba(0, 0, 0, 0);

}

.nav--active .nav__icon:before {
    margin-top: 0;
    transform: rotate(45deg);
    background: var(--greentea04);
}

.nav--active .nav__icon:after {
    margin-top: 0;
    transform: rotate(-45deg);
    background-color: var(--greentea04);
}

/* nav_list(ul) */
.nav__list .active {
    padding-bottom: 4px;
    border-bottom-style: solid;
    border-bottom-width: 3.1px;
    width: fit-content;
    color: var(--blue01);
}

.nav__list {
    list-style-type: none;
    margin-top: 100px;
}

.nav__list li {
    margin-bottom: 40px;
}

/* nav_link */
.nav--active .nav__link {
    opacity: 1;
}

.nav__link {
    font-size: 3.125rem;
    font-weight: 600;

    color: var(--blue01_opacity);
    opacity: 1;
    transition: opacity 300ms var(--ease);
    opacity: 0;
    transition-delay: 500ms;
}

.nav__link:hover {
    text-decoration: none;
    color: var(--blue01);
}

/* nav_item(li) */
.button {
    background-color: var(--blue01);
    color: var(--greentea04);
    font-size: 2rem;
    width: 180px;
    border-radius: 10px;
    font-weight: normal;
    padding-bottom: 10px;
    border-color: var(--blue01);
}

.button:hover {
    background-color: transparent;
    color: var(--blue01);
    border-color: var(--blue01);
}

.butterfly {
    position: absolute;
    top: 280px;
    right: 100px;
}

/* ----------------------------- main ----------------------------- */
.main {
    background-color: var(--greentea04);
    background-image: url(../images/main_bg.svg);
    background-repeat: no-repeat;
    background-position: center;

}

.main_img {
    padding-top: 40px;
    padding-bottom: 90px;
}

.main_text {
    margin-top: 170px;
}

.main_text h1 {
    font-weight: 600;
    color: var(--blue01);
    margin-bottom: 29px;
}

.main_text h3 {
    font-family: var(--text_font);
    font-weight: 500;
    font-size: 28px;
    line-height: 37px;
    padding-bottom: 17px;
}

.main .button {
    font-size: 1.5rem;
    width: 150px;
    border-radius: 9px;
    padding-bottom: 7px;
}

/* ----------------------------- benefit ----------------------------- */
.benefit {
    position: relative;
    bottom: 44px;
    color: var(--black01);
}

.benefit .card {
    background-color: var(--blue04);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.benefit .card1,
.benefit .card3 {
    padding-top: 10px;
}

.benefit .card1 .card,
.benefit .card3 .card {
    height: 200px;
}

.benefit .card_img img {
    background-color: var(--blue01);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 5px;

}



.benefit .card2 .card_img img {
    padding: 8px;
}

.benefit .card1 .card_img img,
.benefit .card3 .card_img img {
    padding: 7px;
}

.benefit .card-header h3 {
    margin-bottom: 0;
    margin-top: 12px;
    font-weight: 400;
}

.benefit .card-body p {
    font-weight: 200;
}

/* ----------------------------- about us ----------------------------- */
.about_us {
    padding-bottom: 50px;
}

.about_us_lable {
    padding-top: 50px;
}

.about_us_lable img {
    margin-bottom: 4px;
}

.about_us_lable .small_lable,
.service_lable .small_lable {
    color: var(--blue01);
    font-size: 18px;
    margin-bottom: 0;
}

.about_us_lable h1,
.service_lable h1 {
    margin-bottom: 23px;
}

.about_us_lable .about_us_para,
.service_lable .service_para {
    line-height: 30px;
}

.about_us_lable .button {
    font-size: 1.3rem;
    width: 130px;
    padding-bottom: 7px;
}

/* ----------------------------- service ----------------------------- */
.service {
    background-color: var(--greentea04);
    background-image: url(../images/service_bg.svg);
    padding: 50px 0;
    background-repeat: no-repeat;
}

.service_img img {
    width: 85%;
    margin-top: 20px;
}

.service_lable .button {
    font-size: 1.3rem;
    width: 145px;
    padding-bottom: 7px;
}

.service .hidden {
    display: none;
}

/* ----------------------------- testimonial ----------------------------- */
.testimonial {
    padding: 40px 0;
}

.testimonial_header .small_lable {
    margin-bottom: 0;
}

.testimonial .quote img {
    width: 60px;
}

.testimonial .quote {
    position: absolute;
    top: 23px;
    left: 159px;
}

.review {
    background-image: linear-gradient(to bottom right, var(--blue04), var(--greentea04));
    padding: 40px 20px 20px 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-top: 50px;
}

.review h5 {
    color: var(--black02);
}

.testimonial .button {
    font-size: 1.3rem;
    width: 175px;
    padding-bottom: 7px;
    margin-top: 30px;
}

/* ----------------------------- footer ----------------------------- */
.footer {
    background-color: var(--greentea04);
    padding: 40px 0;
}

.footer .button {
    font-size: 1.3rem;
    width: 115px;
    padding-bottom: 8px;
}

.footer .second_section,
.footer .third_section,
.footer .first_section {
    padding-bottom: 20px;
}

.footer .second_section a {
    text-decoration: none;
    color: var(--black02);
}

.footer .second_section a:hover {
    color: var(--black01);
}

.footer .links {
    margin-top: 15px;
}

.footer .links a {
    color: var(--blue01);
}

.footer .links a i {
    font-size: 25px;
    padding-right: 5px;
}



.footer .links a:hover {
    color: var(--black02);
}

.footer .third_section p {
    display: inline-block;
    margin-bottom: 8px;

}

.footer .third_section p a {
    text-decoration: none;
    color: var(--black02);
}

.footer .third_section i {
    padding-right: 5px;
}





/* ----------------------------- media query ----------------------------- */

/* 1199px */
@media (max-width: 1199px) {
    .main_text {
        margin-top: 140px;
    }

    .nav__list {
        margin-top: 19%;
    }

    .nav__list li {
        margin-bottom: 30px;
    }

    .nav__link {
        font-size: 2.5rem;
    }

    .about_us_lable {
        padding-top: 30px;
    }

    .service {
        background-position: right;
    }

    .service_img img {

        margin-top: 80px;
    }

    .testimonial .quote {

        left: 129px;
    }

}

/* 991px */
@media (max-width: 991px) {

    .nav__list {
        margin-top: 10%;
        margin-bottom: 75px;
    }

    .nav_bg {
        border-bottom-right-radius: 50px;
        background-color: var(--greentea04);
        background-image: url(../images/nav_link_bg_opacity.svg);
        background-repeat: no-repeat;
        background-size: 750px 550px;
        background-position: center;
    }

    .businessman_photo {
        position: absolute;
        display: none;
    }

    .butterfly {
        display: none;
    }

    .main_text {
        margin-top: 110px;
    }

    .main_text h1 {
        font-size: 32px;
        margin-bottom: 15px;
    }

    .main_text h3 {
        font-size: 20px;
        line-height: 28px;
        padding-bottom: 8px;
    }

    .main .button {
        font-size: 1.3rem;
        width: 120px;
        border-radius: 10px;
    }

    .benefit .card1 .card,
    .benefit .card3 .card {
        height: 230px;
    }

    .benefit .card-header h3 {
        font-size: 22px;
    }

    .about_us_lable h1,
    .service_lable h1,
    .testimonial h1 {
        font-size: 1.8rem;
    }

    .about_us_lable {
        padding-top: 0;
    }

    .about_us_para,
    .service_para {
        line-height: 26px !important;
    }

    .about_us_lable .small_lable,
    .service_lable .small_lable,
    .testimonial_header .small_lable {

        font-size: 16px;
    }

    .about_us_img img {
        margin-top: 42px;
    }

    .service .show {
        display: none;
    }

    .service .hidden {
        display: contents;
    }

    .service_img img {
        display: block;
        margin: 0 auto;
        margin-top: 40px;
        text-align: center;
        width: 60%;
    }

    .service_lable .button {
        margin-top: 10px;
    }

    .testimonial .quote {
        left: 32px;
    }
}

/* 767px */
@media (max-width: 767px) {
    .nav_bg {
        background-size: 650px 500px;
    }

    .main_img {
        height: 400px;
        padding-bottom: 30px;
    }

    .main {
        background-position: left;
    }

    .main_text {
        margin-top: 50px;
        text-align: center;
    }

    .main_text h1 {
        font-size: 34px;
        margin-bottom: 18px;
    }

    .main_text h3 {
        line-height: 32px;
        font-size: 22px;
        padding-bottom: 11px;
    }

    .benefit {
        padding-top: 10px;
    }

    .benefit .card1 .card,
    .benefit .card3 .card {
        height: inherit;
    }

    .main {
        padding-bottom: 20px;
    }

    .about_us {
        padding-top: 20px;
    }

    .about_us_para,
    .service_para {
        line-height: 28px !important;
        margin-bottom: 20px;
    }

    .service_img img {

        width: 70%;
    }

    .footer {
        text-align: center;
    }

    .footer .first_section::after,
    .footer .third_section::after {
        content: "";
        width: 61px;
        height: 2px;
        background-color: var(--blue01);
        position: absolute;
    }

    .footer .first_section::after {
        top: 194px;
        left: 239px;
    }

    .footer .third_section::after {
        left: 239px;
        top: 22px;
    }

    .footer .second_section,
    .footer .third_section {
        margin-top: 40px;
    }

    .footer .third_section .address {
        display: block;
    }
}

/* 600px */
@media (max-width: 600px) {

    .nav__trigger {
        right: 5%;
    }
}

/* 575px */
@media (max-width: 575px) {
    .nav__trigger {
        padding-left: 14px;
        padding-right: 14px;
        padding-top: 1px;
        padding-bottom: 10.5px;
        top: 27px;
        border-radius: 10px;
    }

    .nav__icon {
        width: 25px;
        height: 2.5px;
    }

    .nav__icon:before,
    .nav__icon:after {
        width: 25px;
        height: 2.5px;
    }

    .nav__icon:before {
        margin-top: -7px;
    }

    .nav__icon:after {
        margin-top: 7px;
    }

    .nav__link {
        font-size: 2rem;
    }

    .nav_bg {
        background-size: 500px 400px;
    }

    .nav__item .button {
        font-size: 1.5rem;
        width: 140px;
    }

    .main_text {
        margin-top: 40px;
    }

    .main_text h1 {
        font-size: 31px;
    }

    .main_text h3 {
        line-height: 30px;
        font-size: 20px;
    }

    .main_img {
        padding: 25px 0;
    }

    .benefit {
        padding-top: 28px;
        bottom: 75px;
    }

    .benefit .card1 {
        padding-top: 18px;
    }

    .benefit .card3 {
        padding-top: 0;
    }

    .about_us {
        padding-top: 0;
    }

    .about_us_lable .button {
        font-size: 1.1rem;
        width: 110px;
    }

    .service {
        padding-top: 40px;
    }

    .service_lable .button {
        font-size: 1.1rem;
        width: 125px;
    }

    .service_img img {

        width: 80%;
    }

    .service_lable .button {
        margin-top: 0;
    }


    .footer .first_section::after,
    .footer .third_section::after {
        display: none;
    }

    .first_section,
    .second_section,
    .third_section {
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
}

/* ----------------------------- hover effect ----------------------------- */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    -webkit-transform: scale(1.01);
    transform: scale(1.03);
}